@model Frontend.Quiz
@{

    ViewData["Title"] = "Random Quiz";
}
<h1>@ViewData["Title"]</h1>
 @if(Model.Questions != null) {
    foreach (var question in Model.Questions) {
         <div id="Question_@question.Id">
            <p id="text" class="text-black-50">@question.Text</p>
            <div id="answers">
            @foreach (var answer in question.Answers) {
                <button id="@answer.Id" onClick="setAnswer(@answer.Id, '@answer.IsCorrect')">@answer.Text</button>
            }
            </div>
         </div>
    }
 }
